<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Digital-Art</title>
</head>
<body>
	<h1>Welcome,{{ user.first_name }} {{ user.last_name }}</h1>
	<script type="text/javascript" src="/browserify.js"></script>
	<script type="text/javascript">
	const crypto = require('crypto');

	const hash = crypto.createHash('sha256')
	                   .update('test')
	                   .digest('base64');
	console.log(hash);

	</script>
</body>
</html>